body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.selectValue {
  color: black !important; /* Use !important to override other styles if necessary */
}
canvas {
  display: block;
}
@tailwind base;
@tailwind components;
@tailwind utilities;